body {
    padding: 3em;
}

header {
    background-color: gray;
    color: white;
    padding: 1.5%;
    text-align: center;
    margin-bottom: 2%;
}

.formGroup {
    width: 90%;
    border: black;
    color: gray;
    margin-bottom: 2%;
}

h2 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.submitEmployee {
    float: right;
}